openapi: 3.0.1
info:
  title: NextPax Supply API
  description: "**NextPax -  Supply API specification** \n\nThis document details\
    \ the service endpoints, request and\nresponse schemas that supply partners can\
    \ use to push listings information to NextPax Platform.\nAll features of listing\
    \ includes creating a new listings, updating existing listings, adding listing\
    \ content, guest and cancelation policies, bedroom settings, fees and taxes, pricing\
    \ and calendar availability as well as channel designation.\n\n**Authentication\
    \ - OAuth2 Authentication**\n\nNextPax Supply API endpoints for publishing listing\
    \ or reservation data\nneed OAuth2 authentication for accessing the endpoints.\
    \ Each supply partner will be\nissued a unique client_credetials that will be\
    \ used by NextPax to generate the token for all endpoints.\n"
  contact:
    email: support.api@nextpax.com
  version: 1.0.0
servers:
- url: https://supply.nextpax.app/api/v1
  description: "[Production Server]"
- url: https://supply.sandbox.nextpax.app/api/v1
  description: '[Sandbox Server]'
security:
- openIdProd: []
- openIdSandbox: []
paths:
  /content/properties:
    post:
      tags:
      - Content
      summary: Create a new property
      description: |
        Property Create API for a supply partner to push a new listing/property data to NextPax channel management platform.
          * If property already exists, no new property will be created, referencing supplier property ID
          * Returns supplier id and NextPax id for that property.
          * Please note that for property images we recommend the use of jpeg/jpg and png image formats since many of the larger OTAs only support these.
      operationId: createNewProperty
      requestBody:
        description: Request Sample and Schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyCreateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}:
    get:
      tags:
      - Content
      summary: Retrieve an existing property
      description: |-
        Get Property API for a partner to retrieve an existing property data from NextPax Channel Management platform.
          * A valid NextPax property Id is required in the path.
          * The response will include all property data (general, subrooms, images, etc).
      operationId: retrieveExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property to retrieve content.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyRetrieveResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Update an existing property
      description: |-
        Property API for a partner to push any updates for an existing property data to NextPax Channel Management platform.
          * When data is pushed, a valid NextPax property Id is required in the path.
          * When data is pushed, will be an incremental update payload and override existing record.
          * Mandatory fields will always be pushed with changes.
          * The request can include all property data (general, subrooms, images, etc) or just general information.
          * Please note that for property images we recommend the use of jpeg/jpg and png image formats since many of the larger OTAs only support these.
      operationId: updateExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property to update content.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    delete:
      tags:
      - Content
      summary: Delete an existing property
      description: |-
        Delete a property from Nextpax platform. You are only allowed to delete a property if:
          * You are the owner of the property.
          * The property is not enable for any channel.
          * The property must not have children properties (for MU / UT classifications).
      operationId: deleteExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property to be deleted.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/index:
    get:
      tags:
      - Content
      summary: Get an index of all existing partner properties.
      description: |-
        Property Index API for a partner to get a list of all their existing properties in NextPax Channel Management platform.
          * This returns only an index (property ids, status).
          * Parameter propertyManager is optional.
          * Pagination is recommended.
      operationId: getPropertiesIndex
      parameters:
      - name: propertyManager
        in: query
        description: to be used by property management systems when it is desired
          to retrieve the index for a specific property manager.
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: DM
        example: DM
      - name: limit
        in: query
        description: "indicate how many items per request to retrieve, for pagination."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 6
        example: 100
      - name: offset
        in: query
        description: "The number of items to skip before starting to collect the result\
          \ set, for pagination."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 4
        example: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesIndexResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}/general:
    get:
      tags:
      - Content
      summary: Get general information for existing properties.
      description: |
        Property General Information API allows for retrieving general information for existing properties in NextPax channel management platform.
          * NextPax property Id is required
      operationId: getGeneralExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesGeneralResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Update general information for an existing property.
      description: |
        Property General Information API allows for updating general information to a property in NextPax channel management platform.
          * If data already exists this will be overwritten.
          * NextPax property Id is required.
      operationId: updateGeneralExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyGeneralData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}/images:
    get:
      tags:
      - Content
      summary: Get images for existing properties.
      description: |
        Property Images API allows for retrieving images for existing properties in NextPax channel management platform.
          * NextPax property Id is required
      operationId: getImagesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesImagesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Add/Update images for an existing property.
      description: |
        Property Images API allows for adding and updating images to a property in NextPax channel management platform.
          * If data already exists this will be overwritten.
          * NextPax property Id is required.
          * Please note that we recommend the use of jpeg/jpg and png image formats since many of the larger OTAs only support these.
      operationId: updateImagesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyImagesRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}/amenities:
    get:
      tags:
      - Content
      summary: Retrieve amenities for an existing property.
      description: |
        Property Amenities API allows for adding and updating amenities to pan existing property in NextPax channel management platform.
          * If data already exists this will be overwritten.
          * NextPax property Id is required.
      operationId: getAmenitiesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesAmenitiesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Add/Update amenities for an existing property.
      description: |
        Property Amenities API allows for adding and updating amenities to pan existing property in NextPax channel management platform.
          * If data already exists this will be overwritten.
          * NextPax property Id is required.
      operationId: updateAmenitiesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyAmenitiesRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}/fees:
    get:
      tags:
      - Content
      summary: Retrieve fees for an existing property.
      description: |
        Property Amenities API allows for adding and updating amenities to pan existing property in NextPax channel management platform.
          * If data already exists this will be overwritten.
          * NextPax property Id is required.
      operationId: getFeesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesFeesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Add/Update fees for an existing property.
      description: |
        Property Fees API allows for adding and updating fees to an existing property in NextPax channel management platform.<br>
        Amount is required and one of the fields must be present in the request: amountFlat or amountPercentage.<br>
        An amount with value 0 is only possible for the chargeType "INC".
        * If data already exists this will be overwritten.
        * NextPax property Id is required.
      operationId: updateFeesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyFeesRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}/taxes:
    get:
      tags:
      - Content
      summary: Retrieve taxes for an existing property.
      description: |
        Property Taxes API allows for retrieving taxes from an existing property in NextPax channel management platform.
          * NextPax property Id is required.
      operationId: getTaxesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesTaxesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Add/Update taxes for an existing property.
      description: |
        Property Taxes API allows for adding and updating taxes to an existing property in NextPax channel management platform.
          * If data already exists this will be overwritten.
          * NextPax property Id is required.
      operationId: updateTaxesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyTaxesRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}/descriptions:
    get:
      tags:
      - Content
      summary: Retrieve Descriptions for an existing property
      description: |
        Property Descriptions API allows for retrieving descriptions from an existing property in NextPax channel management platform.
          * NextPax property Id is required.
      operationId: getDescriptionsExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesDescriptionsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Add/Update descriptions for an existing property.
      description: |
        Property Descriptions API allows for adding and updating descriptions to an existing property in NextPax channel management platform.
          * If data already exists this will be overwritten.
          * NextPax property Id is required.
      operationId: updateDescriptionsExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyDescriptionsRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}/subrooms:
    get:
      tags:
      - Content
      summary: Retrieve Subrooms for an existing property.
      description: |
        Property Subrooms API allows for retrieving subrooms from an existing property in NextPax channel management platform.
          * NextPax property Id is required.
      operationId: getSubroomsExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesSubroomsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Add/Update Subrooms for an existing property.
      description: |
        Property Subrooms API allows for adding and updating Subrooms to an existing property in NextPax channel management platform.
          * If data already exists this will be overwritten.
          * NextPax property Id is required.
      operationId: updateSubroomsExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertySubroomsRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}/nearestPlaces:
    get:
      tags:
      - Content
      summary: Retrieve Nearest Places for an existing property.
      description: |
        Property Nearest Places API allows for retrieving points of interests from an existing property in NextPax channel management platform.
          * NextPax property Id is required.
      operationId: getNearestPlacesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesNearestPlacesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Add/Update Nearest Places for an existing property.
      description: |
        Property NearestPlaces API allows for adding and updating nearest places (points of interest) to an existing property in NextPax channel management platform.
          * If data already exists this will be overwritten.
          * NextPax property Id is required.
      operationId: updateNearestPlacesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyNearestPlacesRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}/policies:
    get:
      tags:
      - Content
      summary: Retrieve active policies for an existing property as well as assigned
        channels.
      description: |
        Property Policies API allows for retrieving policies assigned to an existing property in NextPax channel management platform as well as the respective applicable channels associated.
          * NextPax property Id is required.
      operationId: getPoliciesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyPoliciesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Set/change active policy for an existing property.
      description: |
        Property Policies API allows for setting or updating a desired policy on property level to an existing property in NextPax channel management platform.
          * If this action is not performed then the property is using the default policy sent when the property manager was created. This endpoint allows setting generic policies as well as channel specific policies.
          * If data already exists this will be overwritten. Warning: this will override the default policy currently active for a property.
          * This endpoint does not create new policies but rather allows you to assign them to specific properties. To create or update additional policies you can use the /suppliers/property-manager/{propertyManagerCode}/policies endpoint.
          * For now you cannot have more than 1 policy active per property for the same channel. The post request will not permit 2 policies for Bookingcom for example or 2 generic policies that both contain the same channel id.
          * NextPax property Id is required.
      operationId: createUpdatePoliciesExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyPoliciesData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /content/properties/{propertyId}/reviews:
    get:
      tags:
      - Content
      summary: Retrieve active reviews for an existing property as well.
      description: |
        Property Reviews API allows for retrieving (customer) reviews from an existing property in NextPax channel management platform.
          * NextPax property Id is required.
      operationId: getReviewsExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyReviewsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Content
      summary: Set/update reviews for an existing property.
      description: |
        Property Reviews API allows for setting or updating (customer) reviews related to an existing property in NextPax channel management platform.
          * If data already exists this will be overwritten. Warning: this will override all reviews currently present for a property.
          * NextPax property Id is required.
          * To remove existing reviews a post request can be made with an empty reviews array.
      operationId: createUpdateReviewsExistingProperty
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyReviewsRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /ari/rates-los/{propertyId}:
    get:
      tags:
      - ARI
      summary: Returns Length of Stay (LOS) information.
      description: |
        Property rates LOS API allows a supply partner to read rates with LOS format for a property in our NextPax platform.
          * Returns "default" pricing type. To get other rate types use provide additional "pricingType" query parameters
          * A NextPax property id is required.
          * Only one price model per property is currently supported.
          * LOS tables provide pricing information as well as min/max stay restrictions.
          * If a day is not available due to a minStay restriction, then the corresponding price in the LOS table will be 0. Example: "price": [0, 400, 500] indicates that there is a minimum stay of 2 nights since the first night has a price of 0. That day is still available.
          * For maximum stay you the price array will be limited to the maximum number of nights allowed. So for a max stay of 7 nights, the price array will have 7 prices. There is a cap limit of 90 days LOS pricing.
      operationId: GetPropertyRatesLOS
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property Id to create or update LOS Pricing.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      - name: pricingType
        in: query
        description: "The pricingType to return. If not provided, \"default\" pricingType\
          \ will be returned."
        required: false
        style: form
        explode: false
        schema:
          type: string
          example: myPricingType
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatesLosGetResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - ARI
      summary: Create or Update Length of Stay (LOS) information.
      description: |
        Property rates LOS API allows a supply partner to create or update rates with LOS format for a property in our NextPax platform.
          * Information submitted in the post request will overwrite existing information.
          * A NextPax property id is required.
          * Only one price model per property is currently supported. If LOS rate information is sent then the property will be using only LOS pricing. If you later use periodic endpoint, the price model will switch.
          * LOS tables provide pricing information as well as min/max stay restrictions.
          * If a day is not available due to a minStay restriction, then the corresponding price in the LOS table should be 0. Example: "price": [0, 400, 500] indicates that there is a minimum stay of 2 nights since the first night has a price of 0. That day is still available.
          * For maximum stay you need to limit the price array to the maximum number of nights allowed. So for a max stay of 7 nights, the price array should have 7 prices. There is a cap limit of 90 days LOS pricing.
          * For setting dates that are or not available please use the availability endpoint.
          * If you do not have rates for different numbers of persons then the price for the maximum occupancy is sufficient. If a property has max occupancy of 6 persons and you only have rates for 6 then in the LOS request you need to send the rate only for 6 persons. The same applies if the rate for 1-6 persons is the same.
      operationId: CreateUpdatePropertyRatesLOS
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property Id to create or update LOS Pricing.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatesLosCreateUpdate'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /ari/rates-periodic/{propertyId}:
    get:
      tags:
      - ARI
      summary: Get periodic rate information.
      description: |
        Property rates (periodic) API allows a supply partner to get rates with a period format for a property in our NextPax platform.
          * Returns "default" pricing type. To get other rate types use provide additional "pricingType" query parameter
          * A NextPax property id is required.
          * Only one price model per property is currently supported. If periodic rate information is sent then the property will be using only periodic pricing. If later on LOS endpoint is used to send data, the price model will change.
      operationId: GetPropertyRatesPeriodic
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property Id to create or update periodic
          Pricing.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      - name: pricingType
        in: query
        description: "The pricingType to return. If not provided, \"default\" pricingType\
          \ will be returned."
        required: false
        style: form
        explode: false
        schema:
          type: string
          example: myPricingType
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatesPeriodicGetResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - ARI
      summary: Create or Update periodic rate information.
      description: |
        Property rates (periodic) API allows a supply partner to create or update rates with a period format for a property in our NextPax platform.
          * Information submitted in the post request will overwrite existing information.
          * A NextPax property id is required.
          * Only one price model per property is currently supported. If periodic rate information is sent then the property will be using only periodic pricing. If later on LOS endpoint is used to send data, the price model will change.
          * If you do not have rates for different numbers of persons then the price for the maximum occupancy is sufficient. If a property has max occupancy of 6 persons and you only have rates for 6 then in the rate request you need to send the rate only for 6 persons. The same applies if the rate for 1-6 persons is the same.
      operationId: CreateUpdatePropertyRatesPeriodic
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property Id to create or update periodic
          Pricing.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatesPeriodicCreateUpdate'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /ari/rate-multipliers/{propertyId}:
    get:
      tags:
      - ARI
      summary: Returns rates multiplier information for a property.
      description: "Property rates multipliers allows to set a rate multipliers for\
        \ any channel on per property level. To set \nchannel based rate multiplier\
        \ for all properties, check out the /features/{propertyManagerCode} endpoint.\n\
        \  * To work with this endpoint you need to have the rate-multipliers feature\
        \ enabled on Property Manager level.\n  * Rate Multiplier work on per channel\
        \ basis.\n"
      operationId: GetPropertyRateMultipliers
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property Id to create or update LOS Pricing.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyRateMultipliersGetResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - ARI
      summary: Create or Update rates multiplier information for a property.
      description: "Property rates multipliers allows to set a rate multipliers for\
        \ any channel on per property level. To set \nchannel based rate multiplier\
        \ for all properties, check out the /features/{propertyManagerCode} endpoint.\n\
        \  * To work with this endpoint you need to have the rate-multipliers feature\
        \ enabled on Property Manager level.\n  * Rate Multiplier work on per channel\
        \ basis.\n"
      operationId: CreateUpdatePropertyRateMultipliers
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property Id to create or update LOS Pricing.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyRateMultipliersData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /ari/availability/{propertyId}:
    get:
      tags:
      - ARI
      summary: Get availability information.
      description: |
        Property Availability API allows a supply partner to get availability for a property in our NextPax platform.
          * A NextPax property id is required.
      operationId: GetPropertyAvailability
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property Id to create or update periodic
          Pricing.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityGetResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - ARI
      summary: Create or Update availability information.
      description: |
        Property Availability API allows a supply partner to create or update availability for a property in our NextPax platform.
          * Information submitted in the post request will overwrite existing information.
          * A NextPax property id is required.
          * The API can receive single dates or ranges.
      operationId: CreateUpdatePropertyAvailability
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property Id to create or update periodic
          Pricing.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityCreateUpdate'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /ari/rate-plans/{propertyId}:
    get:
      tags:
      - ARI
      summary: Get property rateplans information.
      description: |
        Property rateplans API allows a supply partner to get existing rateplans information for a property in our NextPax platform.
          * A NextPax property id is required.
          * A property may have one or more rateplans.
      operationId: GetPropertyRateplans
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property Id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyRateplansGetResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - ARI
      summary: Create or Update property rateplans information.
      description: |
        Property rateplans API allows a supply partner to create or update rateplans for a property in our NextPax platform.
          * Information submitted in the post request will overwrite existing information.
          * A NextPax property id is required.
          * One or more rateplans can be submitted. If no rateplans are submitted the property is always on default pricing.
          * Rateplans created on property level will ONLY apply to this property.
      operationId: CreateUpdatePropertyRateplans
      parameters:
      - name: propertyId
        in: path
        description: The NextPax code of a property Id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyRateplansCreateUpdate'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessContentResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /suppliers/property-manager:
    post:
      tags:
      - Suppliers
      summary: Create a new property manager.
      description: |
        Property Manager API allows a PMS (Property Management System) to create property managers (also known as agencies, accounts etc) in our NextPax platform.
          * If property manager exists, no new record will be created, referencing supplier property manager code.
          * Returns property manager code.
      operationId: createNewPropertyManager
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyManagerCreateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerGenericSuccessResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /suppliers/property-manager/{propertyManagerCode}:
    get:
      tags:
      - Suppliers
      summary: Retrieve an existing property manager.
      description: |
        Property Manager API allows a PMS (Property Management System) to retrieve an existing property managers (also known as agencies, accounts etc) in our NextPax platform.
          * An existing property manager code is required.
      operationId: retrievePropertyManager
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax code of a property manager to retrieve details.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerRetrieveResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Suppliers
      summary: Update an existing property manager.
      description: |
        Property Manager API allows a PMS (Property Management System) to update property managers (also known as agencies, accounts etc) in our NextPax platform.
          * Information submitted in the post request will overwrite existing information.
          * Returns property manager code.
      operationId: updatePropertyManager
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax code of a property manager to update details.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyManagerCreateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerGenericSuccessResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /suppliers/property-manager/{propertyManagerCode}/policies:
    get:
      tags:
      - Suppliers
      summary: Retrieve policies for an existing property manager.
      description: |
        Property Manager Policies API allows a PMS (Property Management System) or PM (Property Manager) to retrieve cancellation and booking policies for an existing property managers (also known as agencies, accounts etc) in our NextPax platform.
          * An existing property manager code is required.
      operationId: retrievePropertyManagerPolicies
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax code of a property manager to retrieve details.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerPoliciesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Suppliers
      summary: Create / Update additional cancellation and booking policies for an
        existing property manager.
      description: |
        Property Manager Policies API allows a PMS (Property Management System) or PM (Property Manager) to create additional policies or update them in our NextPax platform.
          * Information submitted in the post request will overwrite existing information. One or more policies can be created and managed.
          * Returns property manager code.
      operationId: createUpdatePropertyManagerPolicies
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax code of a property manager to update details.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyManagerPoliciesRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerPoliciesSuccessResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /suppliers/property-manager/{propertyManagerCode}/rate-plans:
    get:
      tags:
      - Suppliers
      summary: Get property manager rateplans information.
      description: |
        Property Manager rateplans API allows a supply partner to get existing rateplans information for a property manager level in our NextPax platform.
          * A NextPax property manager id or code is required.
          * A property manager may have one or more rateplans.
      operationId: GetPropertyManagerRateplans
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax code of a property manager to retrieve rateplans.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerRateplansGetResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Suppliers
      summary: Create or Update property manager rateplans information.
      description: |
        Property Manager rateplans API allows a supply partner to create or update rateplans for a property manager in our NextPax platform.
          * Information submitted in the post request will overwrite existing information.
          * A NextPax property manager id or code is required.
          * One or more rateplans can be submitted. If no rateplans are submitted the property manager is always on default pricing.
          * Rateplans created on property manager level will apply to all properties unless inclusions or exclusions have been defined.
      operationId: CreateUpdatePropertyManagerRateplans
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax code of a property manager to create/update rateplans.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyManagerRateplansCreateUpdate'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerGenericSuccessResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /suppliers/property-manager/index:
    get:
      tags:
      - Suppliers
      summary: Get an index of all existing Property Managers for a Property Management
        System.
      description: |-
        Property Manager Index API for a PMS partner to get a list of all their property managers in NextPax Channel Management platform.
          * This returns only an index (property manager name, code, nr active properties, nr inactive properties).
          * No parameter is required.
      operationId: getPropertyManagersIndex
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagersIndexResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /channel-management/property-manager/{propertyManagerCode}:
    get:
      tags:
      - Channel Management
      summary: Retrieve Property Manager channel management status.
      description: |
        Property Manager Channel Management API allows for retrieving the channel status for an existing property manager in NextPax channel management platform.
          * NextPax property manager code is required.
      operationId: getPropertyManagerChannelManagement
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax code of a property manager.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerChannelManagementResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Channel Management
      summary: Enable / Disable distribution channels on PM Level
      description: |
        Property Manager Channel Management API allows for enabling or disabling of distribution channels on top level. Before individual properties can be enabled on a channel, the PM needs to be enabled first.
          * If data already exists for a channel this will be overwritten.
          * NextPax property manager code is required.
          * Any channels that were previously enabled, but not listed in the current request, will be disabled.
      operationId: propertyManagerChannelManagement
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax code of a property manager.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyManagerChannelManagementRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerGenericSuccessResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /channel-management/property-manager/{propertyManagerCode}/reviews:
    get:
      tags:
      - Channel Management
      summary: Retrieve Property Manager channel reviews.
      description: |
        Property Manager Channel Management API allows for retrieving the channel reviews for an existing property manager in NextPax channel management platform.
          * NextPax property manager code is required.
      operationId: getPropertyManagerChannelReviews
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax code of a property manager.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      - name: channelId
        in: query
        description: The NextPax code of channelId.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: AIR298
      - name: fromTime
        in: query
        description: return reviews after this time.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          format: datetime
          example: '2022-05-15T22:59:59+02:00'
      - name: limit
        in: query
        description: "indicate how many items per request to retrieve, for pagination."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 6
        example: 100
      - name: offset
        in: query
        description: "The number of items to skip before starting to collect the result\
          \ set, for pagination."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 4
        example: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerChannelReviewsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /channel-management/property-manager-settings/{propertyManagerCode}:
    get:
      tags:
      - Channel Management
      summary: Retrieve channel settings for the property manager
      description: |
        Property Manager Channel Management Settings API allows for a partner to retrieve settings and additional information needed for a channel. Please note that some of these settings are required to be able to enable a channel for a property manager.
          * The endpoint lists current settings for the property manager.
          * NextPax property manager code is required.
      operationId: getPropertyManagerChannelSettings
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax property manager code.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerChannelSettingsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Channel Management
      summary: Send channel settings for the property manager
      description: |
        Property Manager Channel Management Settings API allows for a partner to provide settings and additional information needed for a channel. Please note that some of these settings are required to be able to enable a channel for a property manager.
          * If data already exists for a channel this will be overwritten.
          * NextPax property manager code is required.
      operationId: propertyManagerChannelSettings
      parameters:
      - name: propertyManagerCode
        in: path
        description: The NextPax property manager code.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: DM
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyManagerChannelSettingsRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerGenericSuccessResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /channel-management/property-manager-settings/:
    get:
      tags:
      - Channel Management
      summary: Retrieve allowed channel settings.
      description: |
        Property Manager Channel Management Settings API allows for retrieving the channel settings applicable or required for a specific channel. In this endpoint you can see what settings are required before enabling a channel for a Property Manager.
          * The content requirements refer to the minimum content a property is required to have to be eligible for a channel. These requirements apply to all properties of the property manager.
          * NextPax channelCode parameter is optional.
      operationId: getAllPropertyManagerChannelSettings
      parameters:
      - name: channelCode
        in: query
        description: The NextPax channel code to retrieve settings and requirements
          for a specific channel
        required: false
        style: form
        explode: false
        schema:
          type: string
          example: BOO147
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllPropertyManagerChannelSettingsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /channel-management/property/{propertyId}:
    get:
      tags:
      - Channel Management
      summary: Retrieve Property channel management status.
      description: |
        Property Channel Management API allows for retrieving the channel status for an existing property in NextPax channel management platform.
          * NextPax property id is required.
      operationId: getPropertyChannelManagement
      parameters:
      - name: propertyId
        in: path
        description: The NextPax id of a property.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyChannelManagementResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
      - Channel Management
      summary: Enable / Disable distribution channels on property Level
      description: |
        Property Channel Management API allows for enabling or disabling of distribution channels on property level. Please remember to enable the channel on PM level before using this endpoint.
          * If data already exists for a channel this will be overwritten.
          * NextPax property id is required.
          * Any channels that were previously enabled, but not listed in the current request, will be disabled.
      operationId: propertyChannelManagement
      parameters:
      - name: propertyId
        in: path
        description: The NextPax id of a property .
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ce8aeb13-d783-4f37-8351-28856792ff2d
      requestBody:
        description: Request Sample and Schema.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyChannelManagementRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyManagerGenericSuccessResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /channel-management/property/{propertyId}/reviews:
    get:
      tags:
      - Channel Management
[...]
